// Bootstrap

.btn {
    transition: 0.3s;
}

.btn-primary {
    background-color: #74B3CE;
    border-color: #508991;

    &:hover,
    &:focus {
        background-color: #172A3A;
        border-color: #172A3A;
    }
}
