
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea,
select {
    background: white;
    border-radius: 4px;
    border: 1px solid #D2D6D5;
    margin: 0 0 5px 0;
    max-width: 100%;
    padding: 5px 10px;
    transition: 0.2s;
}

select {
    color: #333;
}

input
textarea
select {
    &:focus {
        border-color: #66afe9;
        outline: 0;
    }
}


// Placeholder
// ============================================================================

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}