// Header
// ============================================================================

header {
    background: white;
    padding: 20px 0 0px;

    @media (min-width: 768px) {
        padding: 30px 0 20px;
    }

    a {
        color: inherit;
    }
}
