// Header Branding
// ============================================================================

.branding {
    font-family: Pacifico, "Open Sans", sans-serif;
    font-size: 35px;
    line-height: 55px;
    margin-bottom: 15px;

    @media (min-width: 992px) {
        margin-bottom: 10px;
    }

    img {
        height: auto;
        max-width: 100%;
        vertical-align: baseline;
    }

    a {
        text-decoration: none !important;
        transition: 1s color;

        :hover {
            color: #508991;
        }

        :active,
        :focus {
            color: #74b3ce;
        }
    }
}
