// Headerbar
// ============================================================================

.headerbar {
    background: #74b3ce;
    color: white;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    z-index: 9999;

    .widget {
        padding-bottom: 10px;
        padding-top: 10px;

        &.widget_nav_menu {
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    a {
        color: white;
    }

    li {
        display: inline-block;
        position: relative;
    }

    .fa {
        color: white;
        font-size: 16px;
        margin: 0 5px 0 15px;
    }
}
