﻿/* The basic stuff - you shouldn't need to change this much, if at all */

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,
ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,
tfoot,thead,tr,th,td{background:transparent;border:0;vertical-align:baseline;margin:0;padding:0;}
ol,ul{list-style:none;} blockquote{quotes:none;font-style:italic;} blockquote:before,blockquote:after{content:none;}
del{text-decoration:line-through;} table{border-collapse:collapse;border-spacing:0;}

/* Global Elements */
html * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body {overflow-x: hidden;min-width: 320px;}
article {margin-bottom: 40px;}
textarea {overflow: auto;resize: vertical;}
ul {list-style: disc;}
ol {list-style: decimal;}
ol ol {list-style: upper-alpha;}
ol ol ol {list-style: lower-roman;}
ol ol ol ol {list-style: lower-alpha;}
ul ul,ol ol,ul ol,ol ul {margin-bottom: 0;}
dl {margin: 0 0 20px 0;}
dt {font-weight: bold;text-align: left !important;}
dd {margin-bottom: 20px;}
strong, b {font-weight: bold;}
cite,em,i {font-style: italic;}
big {font-size: 130%;}
ins {background: #ffc;text-decoration: none;}
pre {background: #f7f7f7;color: #222;line-height: 18px;margin-bottom: 18px;padding: 24px;}
abbr,acronym {border-bottom: 1px dotted #666;cursor: help;}
sup,sub {height: 0;line-height: 1;position: relative;vertical-align: baseline;} sup {bottom: 1ex;} sub {top: .5ex;}
dd, pre, kbd, tt, var {font-size: 14px;  margin-bottom: 10px;}
code {font-family:Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;font-size:12px;}
hr {background-color: #e7e7e7;border: 0;clear: both;height: 1px;margin: 0 0 20px;}
input, textarea {font: inherit;}
pre {font-family: "Courier 10 Pitch", Courier, monospace;overflow: auto;} pre a {border-bottom: 1px dashed;} pre a:hover {border-style: solid;}
code {font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}

/* Clears */
.clear {clear: both;}
.clear:before, .clearfix:before,
.clear:after, .clearfix:after {content: " ";display: table;}
.clear:after, .clearfix:after {clear: both;}

/* Menus */
.menu, .menu > ul {padding: 0;margin: 0;}
.menu > li {list-style: none;}

/* Content */
.entry-content fieldset {border:1px solid #e7e7e7;margin:0 0 24px;padding:24px;}
.entry-content fieldset legend {background:#fff;color:#000;font-weight:700;padding:0 24px;}
.entry-content sup, .entry-content sub {font-size:10px;}

/* Quotes */
blockquote {padding: 0;border: none;max-width: 100%;font-size: 17px;line-height: 25px;}
blockquote cite, blockquote em, blockquote i {font-style: normal;}
.entry-content blockquote {margin: 0 20px 20px;border-left: 10px solid #ddd;background: #f9f9f9;padding: 20px;quotes: "“" "”";font-size: 16px;line-height: 26px;font-style: normal;}
.entry-content blockquote:before {float: left;content: open-quote;color: #ccc;font-size: 40px;margin-right: 10px;font-style: italic;}
.entry-content blockquote.left {float:left;margin-left:0;margin-right:24px;text-align:right;width:33%;}
.entry-content blockquote.right {float:right;margin-left:24px;margin-right:0;text-align:left;width:33%;}

/* Asides/Gallery listing/Attachments/Captions */
.home #content .format-aside p,.home #content .category-asides p{font-size:14px;line-height:20px;margin-bottom:10px;margin-top:0;}
.home #content .format-aside .entry-content,.home #content .category-asides .entry-content{padding-top:0;}
.format-gallery .size-thumbnail img,.category-gallery .size-thumbnail img{border:10px solid #f1f1f1;margin-bottom:0;}
.format-gallery .gallery-thumb,.category-gallery .gallery-thumb{float:left;margin-right:20px;margin-top:-4px;}
.home #content .format-gallery .entry-utility,.home #content .category-gallery .entry-utility{padding-top:4px;}
.attachment .entry-content .entry-caption{font-size:140%;margin-top:24px;}
.attachment .entry-content .nav-previous a:before{content:'\2190\00a0';}
.attachment .entry-content .nav-next a:after{content:'\00a0\2192';}
.single-attachment #content {margin: 0 auto;width: 900px;}

/* Images/Captions */
.entry-content img {max-width: 100%; height: auto;}
img.size-auto,img.size-full,img.size-large,img.size-medium,.attachment img{height:auto;}
.alignleft,img.alignleft{display:inline;float:left;margin-right: 20px;margin-bottom: 20px;}
.alignright,img.alignright{display:inline;float:right;margin-left:20px;margin-bottom:20px;}
.aligncenter,img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto;margin-bottom: 20px;}
.gallery{margin:0 auto 20px;}
.gallery .gallery-item{float:left;margin-top:0;text-align:center;width:33%;}
.gallery-columns-2 .gallery-item{width:50%;}
.gallery-columns-4 .gallery-item{width:25%;}
.gallery img{border:10px solid #f1f1f1;}
.gallery-columns-2 .attachment-medium{max-width:92%;height:auto;}
.gallery-columns-4 .attachment-thumbnail{max-width:84%;height:auto;}
.gallery .gallery-caption{color:#888;font-size:12px;margin:0 0 12px;}
#content .attachment img{display:block;margin:0 auto 20px;}
.wp-caption {background: #F6F7F1;line-height:18px;margin-bottom:20px;max-width:95% !important;text-align:center;padding: 5px;}
.wp-caption img {display: block;margin: 5px auto;max-width: 98%;}
.wp-caption p.wp-caption-text {margin: 0;padding: 10px 15px;line-height: 25px;font-style: italic;}

/* Comments */
#comments {border-top: 4px dashed #F6F7F1;padding-top: 30px;margin-top: 30px;}
#comments-title {margin-bottom: 20px;}
.comment {margin-bottom: 20px;}
.bypostauthor {}

/* Widgets */
.widgets, .widget {margin-bottom: 0;}
.widget > ul {margin: 0;padding: 0;}
.widget > ul li, .widget .menu li {list-style: none;}
.widget label {margin-right: 10px;}
.widget select{max-width:100%;}
.widget_search #s{width:60%;}
#wp_tag_cloud div{line-height:26px;}
#wp-calendar{width:100%;}
#wp-calendar caption{color:#222;font-size:14px;font-weight:700;padding-bottom:4px;text-align:left;}
#wp-calendar tbody{color:#aaa;}
#wp-calendar tbody td{background:#f5f5f5;border:1px solid #fff;text-align:center;padding:3px 0 2px;}
#wp-calendar tbody .pad{background:none;}
#wp-calendar tfoot #next{text-align:right;}
.widget_rss a.rsswidget{color:#000;}
.widget_rss .widget-title img{width:11px;height:11px;}
.widget_categories ul {max-height: 300px;overflow-y: auto;}
.menu a[href="#"]:hover {cursor: default;}

/* Print Style */
@media print  {
    html * {color: black !important;}
    html a {text-decoration: underline !important;color: blue !important;border: none !important;}
    a[href]:after {display: none;}
    .headerbar, header, .hero, .ctas, .tagline, .sidebar, footer, .post-thumbnail {display: none;}
    #content, .post-excerpt {width: 100%;}
    blockquote {background: none !important;}
    blockquote:before {display: none;}
}

/* Retina Images */
.retina {display: none !important;}
@media only screen and (-webkit-min-device-pixel-ratio : 2),
@media only screen and (min-device-pixel-ratio : 2) {
	.retina {display: initial !important;}
	.retina-block {display: block !important;}
	.retina-inline {display: inline !important;}
	.no-retina {display: none;}
}

/* Responsive Text Aligns (Bootstrap helper classes) */
.text-left-xs {text-align: left;}
.text-center-xs {text-align: center;}
.text-right-xs {text-align: right;}

@media (min-width: 768px) {
	.text-left-sm, .text-left-xs {text-align: left;}
	.text-center-sm, .text-center-xs {text-align: center;}
	.text-right-sm, .text-right-xs {text-align: right;}
}
@media (min-width: 992px) {
	.text-left-md, .text-left-sm, .text-left-xs {text-align: left;}
	.text-center-md, .text-center-sm, .text-center-xs {text-align: center;}
	.text-right-md, .text-right-sm, .text-right-xs {text-align: right;}
}
@media (min-width: 1200px) {
	.text-left-lg, .text-left-md, .text-left-sm, .text-left-xs {text-align: left;}
	.text-center-lg, .text-center-md, .text-center-sm, .text-center-xs {text-align: center;}
	.text-right-lg, .text-right-md, .text-right-sm, .text-right-xs {text-align: right;}
}