// Links
// ============================================================================

a {
    color: #74b3ce;
    text-decoration: none;

    &:hover,
    &:focus {
        color: #172a3a;
        text-decoration: none;
    }
}

// Text
// ============================================================================

p {
    margin-bottom: 20px;
}

// Headings
// ============================================================================

h1,
.h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Bree Serif";
}

h2,
.h2 {
    font-family: "Bree Serif";
    font-size: 24px;
    margin-top: 0;
}

h3,
.h3 {
    font-family: "Bree Serif";
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0;
}

h4,
.h4 {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 5px;
    margin-top: 0;
}

h5,
.h5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 0;
}

h6,
.h6 {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 5px;
    margin-top: 0;
}

// Selection
// ============================================================================

::selection {
    background: #74b3ce;
    color: white;
}

::-moz-selection {
    background: #172a3a;
    color: white;
}
