.footer-bottom {
    background: #333333;
    padding: 10px 0;
    color: #999999;
    font-size: 11px;

    a {
        color: #999999;
        text-decoration: none;
    }

    a:hover {
        color: #74b3ce;
    }

    .menu {
        li {
            display: inline-block;
            padding-left: 10px;

            &:first-child {
                padding-left: 0;
            }
        }
    }

    .widget {
        margin-bottom: 0;
    }
}
