.footer-middle {
    background: #3b3b3b;
    color: #999999;

    .widget {
        margin: 30px 0;
    }

    .widget-title {
        color: white;
        margin-bottom: 10px;

        @media (min-width: 768px) {
            margin-bottom: 20px;
        }
    }

    a {
        color: #999;
        text-decoration: none;
    }

    a:hover {
        color: #74b3ce;
    }
}
