
/* GLOBAL
------------------------------------------------------------- */
body {font-family: 'Open Sans', Arial, Helvetica, sans-serif;line-height: 25px;color: #898989;font-size: 15px;}
a {color: #74B3CE;text-decoration: none;}
a:hover, a:focus {color: #172A3A;text-decoration: none;}
p {margin-bottom: 20px;}
h1, .h1 {margin-top: 0;margin-bottom: 20px;font-family: 'Bree Serif';}
h2, .h2 {font-size: 24px;margin-top: 0;font-family: 'Bree Serif';}
h3, .h3 {font-size: 18px;margin-top: 0;margin-bottom: 5px;font-family: 'Bree Serif';}
h4, .h4 {font-size: 16px;margin-top: 0;margin-bottom: 5px;line-height: 25px;font-weight: 300;}
h5, .h5 {font-size: 14px;margin-top: 0;margin-bottom: 5px;line-height: 20px;font-weight: 300;}
h6, .h6 {font-size: 12px;margin-top: 0;margin-bottom: 5px;line-height: 20px;font-weight: 300;}
.widget-title {line-height: 22px;font-size: 22px;margin-bottom: 20px;}
.widget.nopadding {padding: 0;}
::selection {background: #74B3CE;color: white;}
::-moz-selection {background: #172A3A;color: white;}


/* BOOTSTRAP
------------------------------------------------------------- */
.btn {transition: 0.3s;}
.btn-primary {background-color: #74B3CE;border-color: #508991;}
.btn-primary:hover,
.btn-primary:focus {background-color: #172A3A;border-color: #172A3A;}


/* HEADER
------------------------------------------------------------- */
.headerbar {font-size: 16px;font-weight: 300;color: white;background: #74B3CE;position: relative;z-index: 9999;}
.headerbar .widget {padding-top: 10px;padding-bottom: 10px;}
.headerbar .widget.widget_nav_menu {
	padding-top: 0;
	padding-bottom: 0;
}
.headerbar a {color: white;}
.headerbar .fa {font-size: 16px;color: white;margin: 0 5px 0 15px;}
.headerbar li {display: inline-block;position: relative;}

header {background: white;padding: 20px 0 0px;}
header a {color: inherit;}

.branding {font-size: 35px;line-height: 55px;font-family: Pacifico, 'Open Sans', sans-serif;margin-bottom: 15px;}
.branding img {max-width: 100%; height: auto; vertical-align: baseline;}
.branding a {text-decoration: none !important; transition: 1s color;}
.branding a:hover {color: #508991;}
.branding a:active, .branding a:focus {color: #74B3CE;}

@media (min-width: 768px) {header {padding: 30px 0 20px;}}
@media (min-width: 992px) {.branding {margin-bottom: 10px;}}


/* MENUS
------------------------------------------------------------- */
.menu li {position: relative;}
.menu a {text-decoration: none !important;}

/* Top Menus (Headerbar/Desktop Main) */
.top-menu .menu {}
.top-menu .menu li {display: inline-block;text-align: left;}
.top-menu .menu a {display: block;padding: 10px;}
.top-menu .menu > li:hover > a,
.top-menu .menu > .menu-active > a {background: #508991; color: white;}
.top-menu .menu li:hover > .sub-menu {display: block;}
.top-menu .menu-parent > a {padding-right: 35px !important;}
.top-menu .menu-parent > a:before {content: "\f107";font-family: FontAwesome;color: inherit;position: absolute;top: 10px;right: 15px;}
.top-menu .sub-menu {display: none;position: absolute;padding: 0;;min-width: 100%;background: #74B3CE;z-index: 999;}
.top-menu .sub-menu li {display: block;margin: 0 !important;}
.top-menu .sub-menu li:hover > a,
.top-menu .sub-menu .menu-active > a {background: #508991; color: white;}
.top-menu .sub-menu > .menu-parent > a:before {content: "\f105";}
.top-menu .sub-menu .sub-menu {top: 0;left: 100%;}

/* Main Nav Only */
.main-menu .menu > li:hover > a,
.main-menu .menu > .menu-active > a {background: none;color: #74B3CE;}
.main-menu .sub-menu {background: white !important;}
.main-menu .sub-menu li:hover > a,
.main-menu .sub-menu .menu-active > a {background: #74B3CE;}

/* Mobile */
.mobile-menu-toggle {background: #74B3CE;text-align: center;font-size: 30px;color: white;padding: 5px 0;cursor: pointer;}
.mobile-menu {display: none;border-bottom: 1px solid #E9EBDE;}
.mobile-menu li {list-style: none;}
.mobile-menu li a {display: block;padding: 10px;border-top: 1px solid #E9EBDE;}
.mobile-menu li:first-child > a {border-top: none;}
.mobile-menu li:hover > a,
.mobile-menu .menu-active > a {background: #74B3CE; color: white;}
.mobile-menu .menu-parent > a:before {font-family: FontAwesome;content: "\f107";position: absolute;right: 20px;}
.mobile-menu .sub-menu {display: none;background: #B9E4F7;width: 100%; position: static;padding: 10px;}
.mobile-menu .sub-menu li {background: white;}
.mobile-menu .sub-menu .sub-menu {background: #508991;}
.mobile-menu .sub-menu .sub-menu .sub-menu {background: #background: #508991;}


/* HOME
------------------------------------------------------------- */
.hero {color: white;position: relative;background: url(images/backgrounds/default.png) center #dcdcdc;}
.hero .jumbotron {background: none;margin-bottom: 0;}

.ctas {background: #F6F7F1;font-size: 18px;line-height: 25px;padding: 0;}
.ctas .widget {padding-top: 25px;padding-bottom: 25px;}
.ctas .widget-title {font-size: 20px;margin-bottom: 20px;}
.ctas h3 {font-weight: 300}
.ctas .fa {color: #74B3CE;}
.ctas .fa-inverse {color: white;}

@media (min-width: 768px) {.ctas {padding: 20px 0;}}
@media (max-width: 768px) {.ctas .widget:nth-child(2n) {background: white;}}

.tagline {font-size: 15px;font-weight: 300;color: white;background: #74B3CE;padding: 35px 0;}
.tagline h2 {font-weight: 300;color: white;	}


/* MAIN
------------------------------------------------------------- */
main {margin-bottom: 40px;padding-top: 20px;}
.sticky {background: #F6F7F1;padding:20px;border: 2px dashed #DDDDDD;}

/* Links */
.entry-content a:not(.btn) {border-bottom: 1px solid #74B3CE;}
.entry-content a:hover:not(.btn),
.entry-content a:focus:not(.btn) {border-bottom-color: #172A3A;    }

/* Titles */
h1.page-title {text-align: center;font-size: 32px;}
h2.entry-title {padding: 0;margin-top: 0 !important;margin-bottom: 10px;}

@media (min-width: 768px) {h1.page-title {text-align: inherit;}}

/* Lists */
.entry-content ul,
.entry-content ol {margin: 0 0 20px;}
.entry-content ol li {padding-left: 0;margin-left: 30px;}
.entry-content ul li {padding-left: 0;margin-left: 30px;}

/* Search */
body.search .entry-meta,
body.search .entry-utility {display: none;}
body.search .page,
body.search .post {margin-bottom: 40px;}
body.search .page h1,
body.search .post h1 {margin-bottom: 5px;border-bottom: none;}

/* Tables */
.entry-content table {margin-top: 10px;margin-bottom: 20px;table-layout: fixed;width: 100%;}
.entry-content th {padding:10px 20px;font-weight:bold;background: #ECECEC;}
.entry-content td {padding:10px 20px;vertical-align: top;}

/* Forms */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea,
select {max-width: 100%;border: 1px solid #D2D6D5;background: white;margin: 0 0 5px 0;border-radius: 4px;padding: 5px 10px;transition: 0.2s}
select {color: #333;}
input:focus,
textarea:focus,
select:focus {border-color: #66afe9;outline: 0;}
::-webkit-input-placeholder {color: #888;}
:-moz-placeholder {color: #888;}
::-moz-placeholder {color: #888;}
:-ms-input-placeholder {color: #888;}


/* POSTS & ARCHIVES (Blog, Category, Search, etc.)
------------------------------------------------------------- */
.entry-details {font-size: 12px;margin-top: 20px;}
.post-thumbnail {text-align: center;margin-bottom: 20px;}
.post-thumbnail a {display: block; margin: 0 auto;max-width: 100%;text-align: center;}
.post-thumbnail img {border-radius: 10px;max-width: 100%;height: auto;}

@media (min-width: 768px) {.post-thumbnail {text-align: left;margin-bottom: 0;}}

/* Pagination */
.pagination {margin: 30px 0 20px;overflow: hidden;clear: both;}
.pagination .page-numbers {display: inline-block;padding: 5px 20px;background: #F2F2F2;min-width: 30px;text-align: center;}
.pagination .page-numbers:hover {background: #74B3CE;color: white;text-decoration: none;}
.pagination .page-numbers.current {background: #D6D6D6;color: white;}
.pagination .page-numbers.dots {background: none !important;}


/* SIDEBAR
------------------------------------------------------------- */
.sidebar .widget {margin-bottom: 20px;}
.sidebar .widget-title {margin-bottom: 15px;}
.sidebar p {margin-bottom: 15px;}

/* Title & Widget Backgrounds */
.sidebar .widget > div,
.sidebar .widget > ul,
.sidebar .widget > form {background: #F6F7F1 !important;padding: 15px 20px;}
.sidebar .widget .widget-title {background: #74B3CE; color: white;margin-bottom: 0;padding: 15px 20px;}

/* Default Widgets */
.sidebar .widget > ul li {list-style: none;margin-bottom: 5px;}
.sidebar .widget > ul li ul li {list-style: disc;}
.widget_recent_entries .post-date {display: block;font-size: 10px;color: gray;}

/* Menu Widgets */
.widget .menu .sub-menu {padding: 0;}
.widget .menu .sub-menu li {list-style: disc;margin-left: 20px;}


/* FOOTER
------------------------------------------------------------- */
.footer-top {background: #EDEDED;}
.footer-top .widget {padding: 20px 0 30px;}

.footer-middle {background: #3B3B3B;color: #999999;}
.footer-middle .widget {margin: 30px 0;}
.footer-middle .widget-title {color: white;margin-bottom: 10px;}
.footer-middle a {color: #999;text-decoration: none;}
.footer-middle a:hover {color: #74B3CE;}

@media (min-width: 768px) {.footer-middle .widget-title {margin-bottom: 20px;}}

.footer-bottom {background: #333333;padding: 10px 0;color: #999999;font-size: 11px;}
.footer-bottom a {color: #999999;text-decoration: none;}
.footer-bottom a:hover {color: #74B3CE;}
.footer-bottom .menu li {display: inline-block;padding-left: 10px;}
.footer-bottom .menu li:first-child {padding-left: 0;}
.footer-bottom .widget {margin-bottom: 0;}