
// Hero
// ============================================================================

.hero {
    background: url('/wp-content/themes/newsite-base/images/backgrounds/default.png') center #dcdcdc;
    color: white;
    position: relative;

    .jumbotron {
        background: none;
        margin-bottom: 0;
    }
}


// CTAs
// ============================================================================

.ctas {
    background: #F6F7F1;
    font-size: 18px;
    line-height: 25px;
    padding: 0;

    @media (min-width: 768px) {
        padding: 20px 0;
    }

    .widget {
        padding-bottom: 25px;
        padding-top: 25px;

        @media (max-width: 768px) {
            &:nth-child(2n) {
                background: white;
            }
        }
    }

    .widget-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: 300
    }

    .fa {
        color: #74B3CE;
    }

    .fa-inverse {
        color: white;
    }
}


// Tagline
// ============================================================================

.tagline {
    background: #74B3CE;
    color: white;
    font-size: 15px;
    font-weight: 300;
    padding: 35px 0;

    h2 {
        color: white;
        font-weight: 300;
    }
}
