// Search page

body.search {
    .entry-meta,
    .entry-utility {
        display: none;
    }

    .page,
    .post {
        margin-bottom: 40px;

        h1,
        h1 {
            border-bottom: none;
            margin-bottom: 5px;
        }
    }
}
