
// Basic
// ============================================================================

.widget-title {
    line-height: 22px;
    font-size: 22px;
    margin-bottom: 20px;
}

.widget.nopadding {
    padding: 0;
}


// Menu widgets
// ============================================================================

.widget {
    .menu .sub-menu {
        padding: 0;
    }

    .menu .sub-menu li {
        list-style: disc;
        margin-left: 20px;
    }
}


// Sidebar
// ============================================================================

.sidebar {
    .widget {
        margin-bottom: 20px;

        // Backgrounds
        > div,
        > ul,
        > form {
            background: #F6F7F1 !important;
            padding: 15px 20px;
        }

        // Default Widgets
        > ul li {
            list-style: none;
            margin-bottom: 5px;

            ul li {
                list-style: disc;
            }
        }

        .widget-title {
            background: #74B3CE;
            color: white;
            margin-bottom: 0;
            padding: 15px 20px;
        }
    }

    .widget-title {
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 15px;
    }
}


// Other Widgets
// ============================================================================

.widget_recent_entries {
    .post-date {
        display: block;
        font-size: 10px;
        color: gray;
    }
}
