.entry-content {
    // Links
    a {
        :not(.btn) {
            border-bottom: 1px solid #74b3ce;
        }

        :hover:not(.btn),
        :focus:not(.btn) {
            border-bottom-color: #172a3a;
        }
    }

    // Lists
    ul,
    ol {
        margin: 0 0 20px;

        li {
            padding-left: 0;
            margin-left: 30px;
        }
    }

    // Table
    table {
        margin-top: 10px;
        margin-bottom: 20px;
        table-layout: fixed;
        width: 100%;

        th {
            padding: 10px 20px;
            font-weight: bold;
            background: #ececec;
        }

        td {
            padding: 10px 20px;
            vertical-align: top;
        }
    }
}
