.pagination {
    clear: both;
    margin: 30px 0 20px;
    overflow: hidden;

    .page-numbers {
        background: #f2f2f2;
        display: inline-block;
        min-width: 30px;
        padding: 5px 20px;
        text-align: center;

        &:hover {
            background: #74b3ce;
            color: white;
            text-decoration: none;
        }

        &.current {
            background: #d6d6d6;
            color: white;
        }

        &.dots {
            background: none !important;
        }
    }
}
