.post-thumbnail {
    text-align: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        text-align: left;
        margin-bottom: 0;
    }

    a {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
    }

    img {
        border-radius: 10px;
        max-width: 100%;
        height: auto;
    }
}
