h1.page-title {
    font-size: 32px;
    text-align: center;

    @media (min-width: 768px) {
        text-align: inherit;
    }
}

h2.entry-title {
    margin-bottom: 10px;
    margin-top: 0 !important;
    padding: 0;
}
