// Mobile
// ============================================================================

.mobile-menu-toggle {
	background: #74b3ce;
	color: white;
	cursor: pointer;
	font-size: 30px;
	padding: 5px 0;
	text-align: center;
}

.mobile-menu {
	border-bottom: 1px solid #e9ebde;
	display: none;

	li {
		list-style: none;

		a {
			border-top: 1px solid #e9ebde;
			display: block;
			padding: 10px;
		}

		&:first-child > a {
			border-top: none;
		}
	}

	li:hover,
	.menu-active {
		> a {
			background: #74b3ce;
			color: white;
		}
	}

	.menu-parent > a:before {
		content: "\f107";
		font-family: FontAwesome;
		position: absolute;
		right: 20px;
	}

	.sub-menu {
		background: #b9e4f7;
		display: none;
		padding: 10px;
		position: static;
		width: 100%;

		li {
			background: white;
		}

		.sub-menu {
			background: #508991;

			.sub-menu {
				background: #508991;
			}
		}
	}
}
