// Main Nav Only
// ============================================================================

.main-menu {
	.menu {
		> li:hover,
		> .menu-active {
			> a {
				background: none;
				color: #74b3ce;
			}
		}
	}

	.sub-menu {
		background: white !important;

		li:hover,
		.menu-active {
			> a {
				background: #74b3ce;
			}
		}
	}
}
