// Top Menus (Headerbar/Desktop Main)
// ============================================================================

.top-menu {
	.menu {
		li {
			display: inline-block;
			text-align: left;

			&:hover {
				> a {
					background: #508991;
					color: white;
				}

				> .sub-menu {
					display: block;
				}
			}
		}

		a {
			display: block;
			padding: 10px;
		}

		> .menu-active {
			> a {
				background: #508991;
				color: white;
			}
		}
	}

	.menu-parent {
		> a {
			padding-right: 35px !important;

			&:before {
				color: inherit;
				content: "\f107";
				font-family: FontAwesome;
				position: absolute;
				right: 15px;
				top: 10px;
			}
		}
	}

	.sub-menu {
		background: #74b3ce;
		display: none;
		min-width: 100%;
		padding: 0;
		position: absolute;
		z-index: 999;

		li {
			display: block;
			margin: 0 !important;

			&:hover {
				a {
					background: #508991;
					color: white;
				}
			}
		}

		.menu-active {
			> a {
				background: #508991;
				color: white;
			}
		}

		> .menu-parent {
			> a:before {
				content: "\f105";
			}
		}

		.sub-menu {
			left: 100%;
			top: 0;
		}
	}
}
